img {
    max-width: 100%;
}

.header, .footer, body {
    background-color: #4484CE;
}

.footer {
    color: #F9CF00;
}

.content {
    background-color: white;
}

.navbar-brand {
    color: #D9D9D9 !important;
}

.nav-link, .btn-outline-success {
    color: #F9CF00 !important;
    border-color: #F9CF00 !important;
}

.btn-outline-success:hover {
    background-color: #D9D9D9 !important;
    border-color: #4484CE !important;
    color: #4484CE !important;
}

.dropdown-menu {
    background-color: #D9D9D9;
}

.dropdown-menu .dropdown-item {
    color: #4484CE;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #4484CE;
    color: #F9CF00;
}

.dropdown-menu .dropdown-divider {
    border-color: #F9CF00;
}

.list-group-item {
    border-color: #4484CE;
}

.modal-header {
    background-color: #4484CE;
    color: #F9CF00;
}

.modal-header .bootbox-close-button {
    color: #D9D9D9;
    opacity: 1.0;
}